.wrapper {
    background-color: #2E3D49;
    color: #DBE2E8;
    display: flex;
    flex-direction: column;
    font-size: 38px;
    height: 100vh;
    justify-content: space-between;
    margin: 0;
    padding: 30px;
    overflow-y: auto;
    width: 100px;
}

.actionable:hover {
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li img {
    margin-top: 30px;
}