.navbar {
    background-color: #1C262F;
    padding: 20px;
}

.text {
    color: #FF9F00;	
    font-family: Roboto;	
    font-size: 48px;	
    letter-spacing: 2px;	
    line-height: 57px;	
    text-align: center;
}