.wrapper {
    color: #DBE2E8;
    background-color: #2E3D49;
    font-size: 20px;
    padding: 10px;
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between;
}

.label {
    letter-spacing: 2px;
    text-align: center;
}

.actions {
    display: inline-flex;
}

.actions div{
    margin-left: 5px;
    margin-right: 5px;
}

.actions div span {
    margin-left: 5px;
    margin-right: 5px;
}

.actionable:hover {
    cursor: pointer;
}


